# Analyzing Naming Trends

 Problem Statement:
 
 The dataset is in zipped format. We have to extract the dataset in the program,
 visualize the number of male and female babies born in a particular year, and
 find out popular baby names.

 Description:
 
 This project not only focuses on implementing data manipulation and data
 visualization using pandas library but also tests your ability to deal with real word
 problem statements.

 Dataset:
 
 Popular baby names data provided by the Social Security Administration (SSA)
 of the United States.
    
 Howto download the dataset:
 ● Gotohttps://www.ssa.gov/oact/babynames/limits.html
 ● Click on ‘National data’
 ● Get the zipped file
 
 
  Hints:
  
 ● First, use pandas, zipfile and BytesIO library to extract the data. Find out a
 way to extract only files that consist of useful data
 ● Hint:
 pd.read_csv(BytesIO(z.read(file_name)),
 engine='python', header=None)
 encoding='utf-8',
 ● Then, visualize the number of male and female babies born in a particular
 year with the help of pandas. DataFrame.plot, then analyze baby names
 by sorting out all birth counts
 ● Then, analyze baby names by sorting out top 100 birth counts and group
 them by names to find out popular baby names
 ● way to extract data https://www.machinelearningplus.com/pandas/pandas-read_csv-completed/

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import BytesIO
import requests
import zipfile

In [23]:
#url1 = 'https://www.someurl.com/abc.zip'
#r = requests.get(url1)
#z = zipfile.ZipFile(BytesIO(r.content))    
#temp  = pd.read_csv(z.open('mno.csv')


baby_data = pd.read_csv('yob2022.txt')
baby_data

          Olivia  F  16573
0           Emma  F  14435
1      Charlotte  F  12891
2         Amelia  F  12333
3         Sophia  F  12310
4       Isabella  F  11662
...          ... ..    ...
31909     Zuberi  M      5
31910       Zydn  M      5
31911      Zylon  M      5
31912     Zymeer  M      5
31913    Zymeire  M      5

[31914 rows x 3 columns]